---
import AboutHeroImage from '../../public/diagrams/about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="A brief description of my background and interests"
	pubDate={new Date('April 28 2026')}
	heroImage={AboutHeroImage}
>

    <h2>Who am I?</h2>

	<p>
		I have been a professional in the data, machine learning and AI space since graduating with a masters degree in data science from Cardiff University in 2019.
		In the years since, my exact title has bounced around alot - but with a primary focus on production software rather than research. I have professional experience in the following technologies:
		
		<ul>
			<li> pyspark / databricks </li>
			<li> fastAPI and REST API design in general </li>
			<li> azure cloud, including a primary focus on kuberenetes </li>
			<li> CICD, model monitoring and automatic refresh strategies for live machine learning APIs </li>
			<li> event based architecture </li>
			<li> agentic and generative AI </li>
		</ul>

	</p>

	<h2>What is Cashewe?</h2>

	<p>
	    The 'cashewe' name plays as an homage to a previous, crudely named `cod cachu` directory in which I built a variety of cheesy prototypes (cod cachu translating to 'shitcode' and often being mispronouned by non-Welsh speakers phonetically as 'cod cashew'). I currently use this github organisation to play with ideas and prototypes that may not be wholey appropriate to invest professional time into, but with a focus on high quality solutions mostly as a matter of pride. 
		In starting this blog my hope is to both share some of the lessons I have learnt from across industries in the space. I expect these to mostly be opinion pieces with occasional looks at how the sausage has been made - im not terribly interested in tutorials however so do not expect these often.
	</p>
	<p>
        As this is a hobby space:

		<ul>
		    <li> AI usage is typically minimal but no garuntees will be made. </li>
			<li> no timelines will be set for new content </li>
			<li> no garuntees of code being bug-free or tested will be made </li>
		</ul>
	</p>
</Layout>
