---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>рџЏґу Ѓ§у Ѓўу Ѓ·у Ѓ¬у Ѓіу Ѓї Shwmae Pawb! рџЏґу Ѓ§у Ѓўу Ѓ·у Ѓ¬у Ѓіу Ѓї</h1>
			<p>
				Welcome to my blog.
				
				Here, you will find posts on a range of topics primarily focusing on AI and MLOps. My typical stack includes:
				<ul>
				  <li>python</li>
				  <li>rust</li>
				  <li>azure</li>
				</ul>
				so expect the focus to be on these tools most of the time. This blog will also often be used as a companion resource to the code found in the <a href="https://github.com/cashewe">Cashewe</a> organisation. To learn more about that, see the `about` section of the blog.
			</p>
		</main>
		<Footer />
	</body>
</html>
